# Security Configuration
SECRET_KEY=your-secret-key-here
DEBUG=False

# Hosts Configuration (comma separated)
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
CORS_ALLOWED_ORIGINS=https://yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Security Enforcement (Set to True in production)
SECURE_SSL_REDIRECT=True
